@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html,body{
  width:100%;
  margin:0;
}

.App{
  font-family: Nunito,"Nunito Black","Nunito ExtraBold","Nunito SemiBold", sans-serif !important;
}

.darken{
  width:100%;
  height:100%;
  position:fixed;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
    animation-name:fadeInAnim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

/* #####################################  START OF NAVBAR  ###################################### */

.navbar{
  height:55px;
  background: linear-gradient( to right, #4E35F2, #5A35F2);
  width:100%;
  position:relative;
  z-index: 3;
}

.navbar--wrapper{
  margin:0 10% 0 10%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.navbar--content{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar--content--left{
  display: flex;
  cursor:pointer;
}

.navbar--content--right{
  display:flex;
  align-items:center;
}

.navbar--link{
  margin-left:25px;
  margin-right:20px;
  color:white;
  font-family: "Nunito ExtraBold", sans-serif;
}

.navbar--link-button{
    margin-right:25px;
    color:white;
    font-family: "Nunito ExtraBold", sans-serif;
    border: 0;
    height: 35px;
    width: 119px;
    border-radius: 3px;
    background: #07ab33;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
}

.navbar--user--menu{
  display:flex;
    cursor: pointer;
}

.navbar--dropdown--container{
  position: absolute;
  right: 10%;
  top: 55px;
  z-index: 5;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
  border-radius:0 0 5px 5px;
  background:white;
  width: 350px;
  height: 200px;
  opacity:0;
}

.navbar--dropdown--content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  opacity:0;

 }

.dropdown--menu--link{
  margin:10px;
  font-weight:700;
}

.menu--arrow{
    transition:0.2s;
}

.rotate-arrow{
    transform:rotate(90deg);
    transition:0.2s;
}

.menu-collapsed{
    animation-name:collapseMenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes collapseMenu {
    from{
        width: 0;
        height: 0;
        opacity:0;
    }
    to{
        width: 350px;
        height: 200px;
        opacity:1;
    }
}

.fadeIn{
    animation-name:fadeInAnim;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnim{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


/* #####################################  END OF NAVBAR  ###################################### */

/* #####################################  START OF VALUE BLOCK  ###################################### */


.block--container{
  width:100%;
  padding:13px 0 13px 0;
}

.block--container--content{
  margin:0 10% 0 10%;
  display:flex;
  justify-content: space-between;
}

.value--block{
  width:32%;
  height:150px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
  border-radius:5px;
  position: relative;
  transition:0.2s;
  cursor:pointer;
}

.value--block:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    transition:0.2s;
    transform:scale(1.01)perspective(1px);
}

.value--block:hover > .blue--line{
    height:0;
    transition:0.2s;
}

.blue--line{
  position:absolute;
  width:100%;
  top:0;
  height:7px;
  background:#4E35F2;
  border-radius: 5px 5px 0 0;
  transition:0.2s;
}

.value--block-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:100%;
}

.value--block--value--type{
  margin:0;
  font-family: "Nunito ExtraBold",sans-serif;
  color:#818181;
}

.value--block--value{
  font-size:30px;
  margin:10px 0 0 0;
  font-weight:700;
}

.makeGreen{
  color:#21AC00;
}


/* #####################################  END OF VALUE BLOCK  ###################################### */

/* #####################################  START OF ASSETS  ###################################### */



.assets--container{
  width:100%;
  margin-top:3px;
}

.assets--inner--container{
  margin:0 10% 0 10%;
  padding-bottom: 1px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
  border-radius:5px;
}

.assets--search--filter-container{
  width:100%;
  height:60px;
  display:flex;
  justify-content: space-between;
}

.assets--search--filter{
  margin-left:25px;
  align-self: center;
}

.assets--search--filter input{
  width:300px;
  height:27px;
  border:0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  padding-left:10px;

}

.assets--search--filter input::placeholder{
  color: #797979;
  font-family: "Nunito SemiBold",sans-serif;
}

.assets--sort--filter{
  margin-right:25px;
  align-self: center;

}

.assets--sort--filter select{
  width:240px;
  height:27px;
  border:0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  padding-left:10px;
  color: #797979;
}

.asset--container{
  margin-left:25px;
  margin-right:25px;
  margin-top:2px;
}

.asset{
  width:100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  height:65px;
  margin-bottom:20px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:0.2s;
  cursor:pointer;
}

.asset:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
    transition:0.2s;
    transform:scale(1.01)perspective(1px);
}

.asset:hover > .asset--blue--line{
    transition:0.2s;
    width:0;
}

.asset--blue--line{
  width:10px;
  transition:0.2s;
  background: #4E35F2;
  left:0;
  top:0;
  height:100%;
  position: absolute;
  border-radius: 5px 0 0 5px ;
}

.asset--content{
  margin-left:50px;
  margin-right:50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.asset--container a{
    text-decoration: none;
}

.asset--image--name--container{
  display:flex;
  align-items: center;
}

.asset--name{
  margin-left:30px;
  font-weight: 700;
  color: #525252;
}

.asset--value{
  font-weight: 700;
  color: #525252;
}

.asset--amount{
  font-weight: 700;
  color: #525252;
}

.asset--change{
  font-weight: 700;
  color:#21AC00;
}

.asset--image{
  height:50px;
}

/* #####################################  END OF ASSETS  ###################################### */

/* #####################################  START OF LOGIN  ###################################### */

.login--page{
    width:100%;
    min-height:100vh;
    background:red;
    background: linear-gradient( to right, #4E35F2, #8A28FB);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login--container{
    min-width:500px;
    background:white;
    border-radius:15px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.40);
    position:relative;
}

.login--content{
    margin:35px;
}


.login--content--title--container{
    width:100%;
    height:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login--content--title{
    color:#5B32F4;
    font-weight:700;
    font-size:29px;
}

.login--content--form--container input{
    width:98%;
    margin-top:20px;
    margin-bottom:15px;
    height:35px;
    border:0;
    background-color:white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    padding-left:10px;
    border-radius:5px;
}

input:focus{
    outline: none;
}
button:focus{
    outline: none;
}


.remember--me--container{
    display:flex;
    margin-top:20px;
    flex-direction: row;
    align-items: center;
}


.remember--me--label{
    font-family: "Nunito SemiBold", sans-serif;
    font-size:12px;
    margin-left:5px;
    color: #747474;
}

.forgot--password--label{
    font-family: "Nunito SemiBold", sans-serif;
    font-size:12px;
    color: #747474;
    margin-left: auto;
}

.sign--in--button--container{
    margin-top:50px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign--in--button{
    border:none;
    padding:12px 43px;
    color:white;
    font-weight:700;
    font-size:17px;
    border-radius:4px;
    background:#772CF8;
}


.sign--up--here--container{
    display:flex;
    justify-content: center;
    margin-top:30px;
    font-size:13px;
    font-weight: 700;
}

.sign--up--here--link{
    margin-left:5px;
}


@media screen and (max-width: 700px) {
    .login--container{
        min-width:87%;
    }
    .login--content{
        margin:25px;
    }
    .login--container{
        margin-bottom:50px;
    }
    .login--content--title{
        font-size:24px;
    }
}

/* #####################################  END OF LOGIN  ###################################### */

/* #####################################  START OF REGISTER  ###################################### */

.register--page{
    width:100%;
    min-height:100vh;
    background:red;
    background: linear-gradient( to left, #4E35F2, #8A28FB);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.register--container{
    min-width:500px;
    background:white;
    border-radius:15px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.40);

}

.register--content{
    margin:35px;
}


.register--content--title--container{
    width:100%;
    height:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register--content--title{
    color:#5B32F4;
    font-weight:700;
    font-size:29px;
}

.register--content--form--container input{
    width:98%;
    margin-top:20px;
    margin-bottom:15px;
    height:35px;
    border:0;
    background-color:white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    padding-left:10px;
    border-radius:5px;
}

.accept--terms--container{
    display:flex;
    margin-top:20px;
    flex-direction: row;
    align-items: center;
}


.accept--terms--label{
    font-family: "Nunito SemiBold", sans-serif;
    font-size:12px;
    margin-left:5px;
    color: #747474;
}

.make--blue{
    color:#7B91FF;
}


.sign--up--button--container{
    margin-top:50px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign--up--button{
    border:none;
    padding:12px 43px;
    color:white;
    font-weight:700;
    font-size:17px;
    border-radius:4px;
    background:#772CF8;
}


.sign--in--here--container{
    display:flex;
    justify-content: center;
    margin-top:30px;
    font-size:13px;
    font-weight: 700;
}

.sign--in--here--link{
    margin-left:5px;
    color:#772CF8;
}


@media screen and (max-width: 700px) {
    .register--container{
        min-width:87%;
    }
    .register--content{
        margin:25px;
    }
    .register--container{
        margin-bottom:50px;
    }
    .register--content--title--container{
        height:30px;
    }
    .register--content--title{
        font-size:24px;
    }
    .register--content--form--container input{
        margin-top:17px;
        margin-bottom:12px;
        height:35px;
    }
    .sign--up--button--container{
        margin-top:20px;
    }
    .sign--in--here--container{
        margin-top:10px;
    }
}

/* #####################################  END OF REGISTER  ###################################### */

/* #####################################  START OF ASSETPAGE  ###################################### */


.graph--container{
    width:100%;
}

.graph--inner--container{
    margin:0 10% 0 10%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
    border-radius:5px;
    position: relative;
}

.graph--content{
    width:100%;
    height:100%;
}

.graph--content img{
    width:100%;
    max-width:100%;
}


.asset--details--container{
    width:100%;
    margin-top:15px;
    margin-bottom:100px;
}

.asset--details--inner--container{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
    border-radius:5px;
    height:183px;
    margin:0 10% 0 10%;
}

.asset--details--content{

}





















/* #####################################  END OF ASSETPAGE  ###################################### */