@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html,body{
  width:100%;
  margin:0;
}

.App{
  font-family: Nunito,"Nunito Black","Nunito ExtraBold","Nunito SemiBold", sans-serif !important;
}

/* #####################################  START OF NAVBAR  ###################################### */

.navbar{
  height:55px;
  background: linear-gradient( to right, #4E35F2, #5A35F2);
  width:100%;
  position:relative;
}

.navbar--wrapper{
  margin:0 10% 0 10%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.navbar--content{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar--logo{

}

.navbar--content--left{
  display: flex;
  cursor:pointer;
}

.navbar--content--right{
  display:flex;
}

.navbar--link{
  margin-left:25px;
  margin-right:20px;
  color:white;
  font-family: "Nunito ExtraBold", sans-serif;
}

.navbar--user--menu{
  display:flex;
}



















/* #####################################  END OF NAVBAR  ###################################### */